body {
  margin: 0px;
  max-width: 100%;
  background-color: white;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

header,
footer {
  text-align: center;
  color: white;
  background-color: #184271;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

p,
li,
table,
nav,
footer {
  font-size: 16px;
  font-family: "Abyssinica SIL", Georgia, serif;
}

footer p {
  margin: 10px;
}

main {
  padding: 10px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 20px;
}
table {
  width: 90%;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: column;
  background-color: #3EBBC2;
  flex: 1 1 auto;
  width: 100%;
  text-align: center;
}

nav a {
  color: black;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  display: block;
  background-color: #fe8f28;
}

h2 + img {
  width: 350px;
  height: auto;
}

img {
  width: 350px;
  height: auto;
}

.primary {
  background-color: #184271;
}

.secondary {
  background-color: #3EBBC2;
}

.accent1 {
  background-color: #fe8f28;
}
.accent2 {
  background-color: #ffffff;
}

.sample1,
.sample7 {
  color: #ffffff;
  background-color: #184271;
}
.sample2 {
  background-color: #3EBBC2;
  color: #000;
}

.sample3,
.sample4,
.sample5,
.sample6 {
  background-color: #ffffff;
  color: #000;
}
