/* General CSS */
body {
  margin: 0px;
  max-width: 100%;
  background-color: white;
}

header,
footer {
  text-align: center;
  color: white;
  background-color: #184271;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

p,
nav,
footer {
  font-size: 16px;
  font-family: "Abyssinica SIL", Georgia, serif;
}

img {
  width: 50px;
  height: auto;
}

/*|| HEADER ||*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerfirst {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.headerfirst .logo {
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", Helvetica, sans-serif;
  padding-left: 10px;
  text-align: left;
}

h1 {
  font-size: 22px;
  margin: 0px;
}

h2 {
  font-size: 15px;
  margin: 0px;
}

/* Social Icons */
.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px;
}

.fa:hover {
  opacity: 0.8;
  /*background-color: #fe8f28;*/
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Navigation Bar */

nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  font-size: 2rem;
  color: white;
  border: none;
}

nav ul {
  display: none;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}

nav ul li a {
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: #3EBBC2;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0); 
}

nav ul.open {
  display: block;
}


#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/* Date */
.date {
  background-color: #3EBBC2;
  width: 100%;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 2;
  color: black;
  border: 1px solid white;
  padding: 5px;
}

/* || MAIN ||*/
main {
  padding: 10px;
  margin: 10px;
  display: grid;
}

main section {
  text-align: start;
  padding: 10px 100px 100px 10px;
  border: 1px solid black;
  margin: 5px;
  background-color: skyblue;
}

section.spothlights {
  padding: 0px;
}

section.join,
section.spothlight3 {
  display: none;
}

section.spothlight1,
section.spothlight2 {
  grid-area: auto;
}

/*|| FOOTER ||*/
footer img{
  width: 100px;
}
footer p,
footer a {
  margin: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

.locationinfo h1 {
  font-size: 20px;
  font-family: "Ubuntu", Helvetica, sans-serif;
}

.locationinfo p {
  margin: 5px;
  font-style: italic;
}

.contactinfo {
  margin: 10px;
}

hr {
  border: 0px;
  width: 100%;
  background-color: rgba(0, 0, 40, 0.3);
  height: 1px;
}
