/* General CSS */
body {
  margin: 0px;
  max-width: 100%;
  background-color: white;
}

header,
footer {
  text-align: center;
  color: white;
  background-color: #184271;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

nav,
main,
footer {
  font-size: 16px;
  font-family: "Abyssinica SIL", Georgia, serif;
}

/*|| HEADER ||*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerfirst {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.headerfirst .logo {
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", Helvetica, sans-serif;
  padding-left: 10px;
  text-align: left;
}

h1,
h2,
nav,
nav ul li {
  margin: 0px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 17px;
}

/* Social Icons */
.facebook,
.linkedin {
  padding: 5px;
  width: 45px;
}

.facebook:hover,
.linkedin:hover {
  opacity: 0.8;
}

/* Navigation Bar */
nav,
nav ul.open,
nav ul li a,
#hamburgerBtn span:nth-child(1),
#hamburgerBtn.open span:nth-child(2),
main.thankyou {
  display: block;
}

nav ul,
#hamburgerBtn.open span:nth-child(1),
#hamburgerBtn span:nth-child(2),
.spothlights div:nth-of-type(3),
main.directory .list section img {
  display: none;
}

nav button,
#hamburgerBtn {
  margin: 0.2rem 2vw;
  background: transparent;
  font-size: 2rem;
  color: white;
  border: none;
}

nav ul {
  padding: 0px;
}

nav ul li {
  list-style-type: none;
  padding: 10px;
}

nav ul li a {
  font-weight: bold;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
  text-decoration: none;
}

nav ul li a:hover,
form input.submitbtn:hover {
  color: black;
  background-color: #3ebbc2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: inset 100px 0 0 0 #3ebbc2;
}

/* Date */
#date {
  background-color: #3ebbc2;
  width: 100%;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 2;
  color: black;
  border: 1px solid white;
  padding: 5px;
}

/* || MAIN ||*/
main:not(.demographics) {
  padding: 10px;
  margin: 10px;
  display: grid;
}

main section:not(.memberships),
main div.spothlights,
main .spothlights div,
main.join,
main.thankyou,
main.contact,
h2:not(.locationinfo h2, section.heading h2, main.contact h2, .spothlights h2),
section ~ p {
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  background-color: skyblue;
}

main.demographics,
main.join {
  padding: 10px;
  margin: 10px;
}

main a {
  text-decoration: none;
}

/*Home Page*/
section.hero {
  position: relative;
  height: 250px;
}

section.hero img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

section.hero h2 {
  position: absolute;
  top: 25px;
  left: 70px;
  background: radial-gradient(#3ebbc2, #184271);
  opacity: 0.9;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 20px;
}

button,
section.hero a,
section.join a,
form input.submitbtn {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  background-color: #007bb5;
}

section.hero a,
section.join a {
  border: 1px solid black;
}

button:hover,
section.hero a:hover,
section.join a:hover,
form input.submitbtn:hover {
  background-color: #3b5998;
  box-shadow: none;
}

section.hero a {
  line-height: 2em;
  position: absolute;
  bottom: 25px;
  right: 0px;
}

section.join {
  text-decoration: none;
  padding: 10px;
  margin: 5px;
}


section.event,
section.news {
  padding: 10px;
}

div.spothlights {
  padding: 0px;
}

/*End Home Page*/

/*Discover Page*/
section h3 {
  color: #061628;
}

section img[data-src] {
  filter: blur(0.2em);
}

section > img:not(main.directory img, img#weather-icon) {
  width: auto;
  height: 200px;
  padding: 0px;
  margin: 0px 20px;
}

section.discoverimg img {
  border-radius: 5px;
  border: 1px solid black;
  filter: blur(0em);
  transition: filter 0.5s;
}
/*End Discover Page*/

/*Join Page*/
main.join form,
main.join:not(main.join h2) {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

main.join h2.join,
main.thankyou h2.welcome,
h2:not(.spothlights h2) {
  border: none;
}

.form label:not(.membership),
main.directory div.cards img + p,
.form {
  font-weight: bold;
}

.form input,
.form label:not(.membership) {
  padding: 10px 10px 10px 0px;
}

input:not(.submitbtn),
#typeofmemberships,
#bdescription,
#description {
  border: 2px solid black;
  background-image: linear-gradient(to right, aquamarine, rgb(104, 198, 193));
}

form input.submitbtn {
  margin: 10px 0px;
}

section.memberships h3,
section.memberships p,
main.contact form h2 {
  text-align: center;
  margin: 5px;
}

section.memberships div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #edeff0;
}
/*End Join Page*/

/*Thank you Page*/
main.thankyou p {
  margin: 5px;
}
/*End Thank you Page*/

/*Directtory Page*/
main.directory div.menu {
  border: 3px solid black;
  background-color: #184271;
  text-align: center;
  margin: 0.25rem;
  padding: 0.35rem;
}

main.directory div.menu button img {
  text-align: center;
}

main.directory .list {
  display: flex;
  flex-direction: column;
}

main.directory .list section {
  margin: 0.25rem;
  padding: 0.35rem;
  display: flex;
  align-items: center;
}

main.directory .list section img {
  width: 70px;
  height: auto;
}

main.directory .grid section {
  margin: 0.25rem;
  padding: 0.35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.directory div.cards:not(.list) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

main.directory div.cards img {
  padding: 0px;
  margin: 0px 20px;
}

main.directory div.cards h2 {
  border: none;
  text-decoration: underline;
}

main.directory div.cards h2,
main.directory div.cards p,
main.directory div.cards a {
  margin: 0;
  width: 100%;
  padding: 5px 0px;
}
/*End Directtory Page*/

/*Contact Page*/
main.contact h2,
main.contact form {
  margin: 10px;
  padding: 10px;
}

main.contact p {
  text-align: left;
}

main.contact div.group {
  margin-bottom: 16px;
  margin-top: 16px;
}

main.contact div.group p {
  margin: 0;
}

main.contact form {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
}
/*End Contact Page*/

/*|| FOOTER ||*/
footer p,
footer a {
  margin: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

.locationinfo h2 {
  font-size: 20px;
  font-family: "Ubuntu", Helvetica, sans-serif;
}

.locationinfo p {
  margin: 5px;
  font-style: italic;
}

.contactinfo {
  margin: 10px;
}

hr {
  border: 0px;
  width: 100%;
  background-color: rgba(0, 0, 40, 0.3);
  height: 1px;
}
