/* General CSS */
body {
  margin: 0px;
  max-width: 100%;
  background-color: white;
}

header,
footer {
  text-align: center;
  color: white;
  background-color: #184271;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

p,
nav,
main,
footer {
  font-size: 16px;
  font-family: "Abyssinica SIL", Georgia, serif;
}

/*|| HEADER ||*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerfirst {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.headerfirst .logo {
  align-items: center;
  width: 50px;
  height: auto;
}

.heading {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", Helvetica, sans-serif;
  padding-left: 10px;
  text-align: left;
}

h1 {
  font-size: 22px;
  margin: 0px;
}

h2 {
  font-size: 18px;
  margin: 0px;
}

h3 {
  font-size: 17px;
}

/* Social Icons */
.facebook,
.linkedin {
  padding: 5px;
  width: 45px;
}

.facebook:hover,
.linkedin:hover {
  opacity: 0.8;
}

/* Navigation Bar */
nav {
  display: block;
}

nav button,
#hamburgerBtn {
  margin: 0.2rem 2vw;
  background: transparent;
  font-size: 2rem;
  color: white;
  border: none;
}

nav ul {
  display: none;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}

nav ul li a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

nav ul li a:hover,
form input.submitbtn:hover {
  color: black;
  background-color: #3ebbc2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: inset 100px 0 0 0 #3ebbc2;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/* Date */
#date {
  background-color: #3ebbc2;
  width: 100%;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 2;
  color: black;
  border: 1px solid white;
  padding: 5px;
}

/* || MAIN ||*/
main:not(.demographics) {
  padding: 10px;
  margin: 10px;
  display: grid;
}

main section:not(.memberships),
main.join,
main.thankyou,
h2:not(section.heading h2),
section ~ p {
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  background-color: skyblue;
}

main.demographics,
main.join {
  padding: 10px;
  margin: 10px;
}

/*Home Page*/
section.hero {
  position: relative;
  height: 250px;
}

section.hero img {
  width: 100%;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

section.hero h2 {
  position: absolute;
  top: 25px;
  left: 70px;
  background: radial-gradient(#3ebbc2, #184271);
  opacity: 0.9;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 20px;
}

button,
form input.submitbtn {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  /*background-color: rgba(240, 240, 240, 0.8);*/
  font-weight: bold;
  background-color: #007bb5;
}

button:hover,
form input.submitbtn:hover {
  background-color: #3b5998;
  box-shadow: none;
}

section.hero button {
  line-height: 2em;
  position: absolute;
  bottom: 25px;
  right: 0px;
}

section.join a {
  text-decoration:none;
}

section.join a button {
  margin: auto;
  margin-bottom: 10px;
}

section.event,
section.news {
  padding: 10px;
}

section.spothlights {
  padding: 0px;
}

section.join,
section.spothlight3 {
  display: none;
}

section.spothlight1,
section.spothlight2 {
  grid-area: auto;
}
/*End Home Page*/

/*Discover Page*/
section h3 {
  color: #061628;
}

section img[data-src] {
  filter: blur(0.2em);
}

section > img:not(main.directory img) {
  width: auto;
  height: 200px;
  padding: 0px;
  margin: 0px 20px;
}

section.right img,
section.left img {
  width: 400px;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
  filter: blur(0em);
  transition: filter 0.5s;
}
/*End Discover Page*/

/*Join Page*/
main.join form,
main.join:not(main.join h2) {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

main.join h2.join,
main.thankyou h2.welcome {
  border: none;
}

main.join form label:not(.membership),
main.directory div.cards img + p{
  font-weight: bold;
}

main.join form label:not(.membership),
main.join form input {
  padding: 10px 10px 10px 0px;
}

input:not(.submitbtn),
#typeofmemberships,
#bdescription,
#description
{
  border: 2px solid black;
  background-image: linear-gradient(to right, aquamarine, rgb(104, 198, 193));
}

form input.submitbtn {
  margin: 10px 0px;
}

section.memberships h3,
section.memberships p {
  text-align: center;
  margin: 5px;
}

section.memberships div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #EDEFF0;
}
/*End Join Page*/

/*Thank you Page*/
main.thankyou {
  display: block;
}

main.thankyou p {
  margin: 5px;
}
/*End Thank you Page*/

/*Directtory Page*/
main.directory div.menu {
	border: 3px solid black;
	background-color: #184271;
	text-align: center;
  margin: 0.25rem;
  padding: 0.35rem;
}

main.directory div.menu button img {
  width: auto;
  height: 30px;
  text-align: center;
}

main.directory .list {
	display: flex;
	flex-direction: column;
}

main.directory .list section {
  margin: 0.25rem;
  padding: 0.35rem;
  display: flex;
  align-items: center;
  }

main.directory .grid section {
  margin: 0.25rem;
  padding: 0.35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
main.directory .list section img {
  display: none;
}

main.directory div.cards:not(.list){
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

main.directory div.cards img {
  width: 200px;
  height: auto;
  padding: 0px;
  margin: 0px 20px;
}

main.directory div.cards h2 {
  border: none;
  text-decoration: underline;
}

main.directory div.cards h2,
main.directory div.cards p,
main.directory div.cards a {
  margin: 0;
  width: 100%;
  padding: 5px 0px;
}

/*End Directtory Page*/

/*Contact Page*/

/*End Contact Page*/

/*|| FOOTER ||*/
footer img {
  width: 100px;
}
footer p,
footer a {
  margin: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

.locationinfo h1 {
  font-size: 20px;
  font-family: "Ubuntu", Helvetica, sans-serif;
}

.locationinfo p {
  margin: 5px;
  font-style: italic;
}

.contactinfo {
  margin: 10px;
}

hr {
  border: 0px;
  width: 100%;
  background-color: rgba(0, 0, 40, 0.3);
  height: 1px;
}


